header{
  height:400px;
  background:url(../../assets/img/Technology-Wallpaper-14.jpg) no-repeat center;
  background-size:cover;
}

.navbar-nav{
  margin-top:14px;
}

.navbar-nav .nav li{
  height:45px;
}

.navbar-nav > li > a{
  padding-top:7px;
  padding-bottom:7px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a{
  color:#222;
  font-weight:bold;
  background-color:rgba(255,255,255,0.8);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:#fff;
  background-color:rgba(0,0,0,0.9);
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#fff;
  background-color:rgba(0,0,0,0.9);
  font-weight:bold;
}

.navbar-toggle{
  background-color:#fff !important;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
  margin-top:20px;
}

nav.navbar.navbar-default{
  background:none;
  box-shadow:none;
}

.navbar-brand{
  height:75px;
  font-size:18px;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title{
  text-transform:uppercase;
  font-weight:bold;
}

@media (max-width:767px) {
  .navbar-brand span.text-title{
    display:none;
  }
}

.navbar-brand .glyphicon{
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}

@media (min-width:768px) {
  .navbar-nav li{
    margin-left:10px;
  }
}

.categories{
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li{
  display:inline-block !important;
  float:none;
}

.post-body{
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title{
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author{
  text-transform:uppercase;
}

.post-body figure{
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span{
  margin-left:5px;
}

.post-title h1{
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1{
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer{
  padding:20px;
  text-align:center;
  background-color:#333;
  color:#fff;
}

footer h5{
  color:inherit;
}

div.container.post{
  margin-bottom:50px;
}

.responsiveCal {
  position: relative; 
  padding-bottom: 75%; 
  height: 0; 
  overflow: hidden;
}
 
.responsiveCal iframe {
  position: absolute; 
  top:0; left: 0; 
  width: 100%; 
  height: 100%;
}
