/*Navigation*/
.navbar-brand img{
  width: 300px;
}
.nav.navbar-nav .navbar-logo{
    display: none;
  }
.nav.navbar-nav li a{
  margin-top: 15px;
  font-weight: bold;
}
#dc-logo{
  width:110px; 
  height: 35px;
  margin-top: -5px;
}
@media(max-width: 767px){
  .navbar-brand img{
    display: none;
  }
  .nav.navbar-nav .navbar-logo{
    display: block;
  }
  .nav.navbar-nav .navbar-logo a img{
    width: 200px;
  }
  #dc-logo{
    margin-top: 0;
  }
}
/*Navigation End*/

.categories{
  text-align:center !important;
  padding:10px;
}

.categories li{
  display:inline-block !important;
  float:none;
}

.post-body{
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title{
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author{
  text-transform:uppercase;
}

.post-body figure{
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span{
  margin-left:5px;
}

.post-title h1{
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1{
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer{
  padding:20px;
  text-align:center;
  background-color:#333;
  color:#fff;
}

footer h5{
  color:inherit;
}

div.container.post{
  margin-bottom:50px;
}

.responsiveCal {
  position: relative; 
  padding-bottom: 75%; 
  height: 0; 
  overflow: hidden;
}
 
.responsiveCal iframe {
  position: absolute; 
  top:0; left: 0; 
  width: 100%; 
  height: 100%;
}

.board_member {
  height:350px;
}

/**Used for the task list in new_student_orientation.html **/
.task {
  font-weight: bold;
}

.side_nav
{
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

/*Instagram front page feed*/
#instafeed-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

#instafeed-container a img{ 
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  transition: 0.6s ease-out;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

#instafeed-container img:hover{
  transform: translateY(15px);
}

#instafeed-container img:hover:before{
  opacity: 1;
}

.insta-logo{
  text-align: center; 
  margin: 10px 0 0;
}

.insta-link{
  text-align: center;
}
